.loginpage {
    background: 
    linear-gradient(
      rgba(0, 0, 0, 0.32), 
      rgba(0, 0, 0, 0.32)
    ),
    url('../img/bg.jpg') ;
    background-position: center center;
    background-size: cover;
    

}

.registerpage {
    background: 
    linear-gradient(
      rgba(0, 0, 0, 0.32), 
      rgba(0, 0, 0, 0.32)
    ),
    url('../img/bg2.jpeg') ;
    background-position: center center;
    background-size: cover;
}

.loginform form {
    color: white;
    justify-content: center;
}



.formlogin {
    font-size: 15px;
    justify-content: center;
  
}

.formlogin a {
    color: red;
   

}

.formlogin button {
    width: 150px;
    border-radius: 18px;
}

.loginstye  {
    padding-top: 170px;
    padding-bottom: 250px;
}

.loginform h4 {
    text-align: center;
    padding-bottom: 30px;
    color: white;
}

@media (min-width: 200px) and (max-width: 600px) {
    .formlogin {
        margin: 0 0px;
         justify-content: center;
       
     }
  }

  @media (min-width: 601px) and (max-width: 800px) {
    .formlogin {
        margin: 0 100px;
         justify-content: center;
       
     }
  }

  
  @media (min-width: 801px) and (max-width: 1200px) {
    .formlogin {
        margin: 0 150px;
         justify-content: center;
       
     }
  }

  @media (min-width: 1201px) and (max-width: 1600px) {
    .formlogin {
        margin: 0 350px;
         justify-content: center;
       
     }
  }